.new-distributor,
.new-publisher,
.new-author,
.new-collection{
    cursor:pointer;
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
}